body{
	animation: load-animate 4s ease-in-out;
}
@keyframes load-animate{
	from{
       opacity: 0;
       background-attachment: rotate(1deg);
	}
	to{
  opacity: 1;
  background-attachment: rotate(15deg);
	}
}
.col-lg-12{
	padding-left: 20%;
}
.bg{
	overflow-x: hidden;
	transition: all 1s ease-in-out;
}
.attenshow{
	opacity: 1 !important;
}

.new{
	opacity: 0;
}
.change1{
	opacity: 0;
	transition: all 0.4s ease-in-out;
	animation: infiniteload 1s ease-in-out;
}
@keyframes infiniteload{
	from{
	transform: translate3d(0,200px,0);


	}
	to{

	transform: translate3d(0,0,0);
	}
}
.col-lg-6{
	cursor: pointer;
}
.col-lg-3{
	cursor: pointer;
}

.sidebar-visible{
	width: 300px;
	background-color: black;
	margin-left: 0px;
	
	position: fixed;
	transition:all 0.3s ease-in-out;
	overflow-x: hidden;
}
.sidebar{
	margin-left: -300px;
	width: 300px;
	position: fixed;
	
	overflow-x: hidden;
	transition:all 0.3s ease-in-out;
}
.sidebar_menu{
	position: fixed;
	width: 350px;
	
	
	
	
	background-color: transparent;
	
	opacity: 0.9;
	transition:all 0.3s ease-in-out;
	margin-left: -370px;



}
.hide_menu{
	position: fixed;
	width: 100%;
	color: white;
	margin-left: 0px;
	overflow-x: hidden;
	height: 100vh;
	background-color:black;
	max-height: 100vh;
	opacity: 1;
	background-color: #252627;
	
	transition:all 0.3s ease-in-out;
	

}
.hide-fas{
	opacity: 0;
	transition: all 0.3s ease;
}
@keyframes upx{
	from{
	transform:translate3d(0,200px,0);
	opacity: 0;


	}
 to{
 	transform: translate3d(0,0,0);
    opacity: 1;
 }
}
@keyframes rotatex{
	from{
	transform: rotate(0deg);

	}
 to{
 	transform: rotate(360deg);
 }
}
@keyframes leftx{
	from{
	transform: translate3d(300,0,0);
    opacity: 0;
	}
 to{
 	transform: translate3d(0,0,0);
 	opacity: 1;
 }
}
#close{
	animation: rotatex infinite ;
	animation-delay: 0.2s;
}


/*Animation*/
.new

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 9em;

      }
}


.landing{
	width: 100%;
	height: 100vh;
	justify-content: center;
	display: flex;
	font-weight: 100;
	font-size: 65px;
	font-family: 'Lato',sans-serif;

}
p{
	font-weight: 200;
	font-size: 85px;
	font-family: 'Rubik',sans-serif;
	animation: upx 1.5s ease;
}
body{
    font-size: 1em;
    background: url(/foggy-forest.jpeg);
    background-size: cover;
    font-family: monospace;
}

.sidebar{
    width: 24em;
    height: auto;
   align-items: center;
   display: flex;

    font-size: 1.2em;
    line-height: 2em;
    color:#fff;
    font-weight: 700;
    text-transform:uppercase;
    z-index: 999;

    animation: show-hide 2s ease;

    




  
  

}
@keyframes visiblex{
	from{
		
opacity: 0;
	}
	to{
		
opacity: 1;
	}
}


.fa-times{
	opacity: 0;
	color: white;
}
.rotateX{
	opacity: 1 !important;
	color: white;
	z-index: 999999999999999999999999;
	animation: rotatex 2s ease;
}
.slideright{
	opacity: 1 !important;
	animation: slideright 1.5s ease;
	

}
.slideleft{
	opacity:1 !important;
	animation: slideleft 1.5s ease-in-out;
	

}
@keyframes slideleft
{
	from{
		transform: translateX(-70px);
opacity: 0;
	}
	to{
		transform: translateX(0);
opacity: 1;
	}

}
@keyframes slideright{
	from{
		transform: translateX(-70px);
opacity: 0;
	}
	to{
		transform: translateX(0);
opacity: 1;
	}
}
@keyframes slideleft{
	from{
		transform: translateX(70px);
opacity: 0;
	}
	to{
		transform: translateX(0);
opacity: 1;
	}
}
.col-lg-3{
	background-color: white;
	color:#252627;
}
@keyframes show-hide{
	from{
opacity: 0;
	}
	to{
opacity: 1;
	}
}

.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;

    
}

.sidebar ul li{
  
    background-color: #333;
    height: 4em;
    padding: 1em 1.5em;
    position: relative;
    transition: transform .5s;
    width: 50em;
    

   

}
.under-1,.under-2,.under-3,.under-4{
	opacity: 0;
	width: 0;
	border: 1px solid white;
	transition: all 0.3 ease-in-out;

}
.under-1v,.under-2v,.under-3v,.under-4v{
	animation: stretchx 0.25s ease-in-out;
	border:1px solid white;
	background-color: white;
	opacity: 1.0 ;
	transition: all 0.3s ease-in-out;
	width: 60px;

}
li{
	cursor: pointer;
}

@keyframes stretchx {
from{
  width: 0px;

}
to{
width: 60px;
}

}


.sidebar ul li:nth-child(1)
{
	animation: leftx 1s ease;
    
    background-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    animation-delay: 1s;
}

.sidebar ul li:nth-child(2){
	animation: leftx 1.2s ease;
   background:linear-gradient(rgba(77, 84, 84,0.8),rgba(77, 84, 84,0.8));
    animation-delay: 1.2s;

}

.sidebar ul li:nth-child(3){
	animation: leftx 1.4s ease;
   background:linear-gradient(rgba(101, 102, 102,0.9),rgba(100, 102, 102,0.8));
     animation-delay: 1.4s;
}

.sidebar ul li:nth-child(4){
	animation: leftx 1.6s ease;
    background:linear-gradient(rgba(66, 66, 66,0.9),rgba(66, 66, 66,0.7));
     animation-delay: 1.6s;
}

.sidebar ul li:nth-child(5){
	animation: leftx 1.8s ease;
    background:linear-gradient(rgba(77, 84, 84,0.9),rgba(77, 84, 84,0.9));
     animation-delay: 1.8s;
}

.sidebar ul li:nth-child(6){
	animation: leftx 2.0s ease;
    background-color: #22CCEF;
     animation-delay: 2.0s;
}


.sidebar ul li:hover{
    transform: translateX(-3em);
}


.sidebar ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
}


.sidebar ul li span{
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    font-size: 1em;
    margin:0 auto;
    line-height:2em;
    padding:1em 1.5em;
   
}
.first{
opacity: 0;
transition: 1s ease;
}
.second{
opacity: 0;
transition: 1s ease;
}
.close-over-other
{
	  width: 24em;
    height: auto;
   align-items: center;
   display: flex;

    font-size: 1.2em;
    line-height: 2em;
    color:#fff;
    font-weight: 700;
    text-transform:uppercase;
    z-index: -1;
}
.col-shadow{
	box-shadow: 1px 1px  50px 1px #e6e6e6 !important;
    opacity: 1 !important;
}
.third{
	opacity: 0;
}
.text{
	opacity:0;
}
.text{
	opacity:1;
	color: black;
	font-size: 20px;
}
.text-show{
	opacity: 1.0 !important;
}
.animate-body{
	animation: body-bg 2s ease-in-out;
}
@keyframes body-bg{
	from{
transform: translateX(-90px);
opacity: 0;

	}
	to{
transform: translateX(0);	
opacity: 1.0;
}
     
}
.line{
	font-size: 80px;
	line-height: 100px;
}
.child-heading{
	font-size: 70px;
}
.rotate-para-x{
 animation: rotatex 1s infinite;
 z-index: 9999999999;
 display: inline-block;
}
@media screen and (max-width: 500px)
{
	.line{
		font-size: 45px;
		font-weight: 100;
		line-height:48px;
		
	}
	.child-heading{
		font-size: 32px;
	
		padding: 7px 0px;
	}
	.first{
		padding: 0px 50px;
	}
	.second{
		padding: 0px 50px;
	}
	.third{
		padding: 0px 50px;
	}
	.fa{
		font-size: 0.1em;
	}
	.fa-times{
		font-size: 0.1em;
	}
	
}


